@extend 'helpers';
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: Lato, sans-serif;
}

.loading {
  position: relative;
}

.loading:before, .loading:after {
  position: absolute;
  top: 50%;
  left: 50%;
}

.loading:before {
  content: "Loading";
  transform: translateX(-50%) translateY(-50%);
}

.loading:after {
  content: "";
  width: 74px;
  margin-left: -40px;
  height: 74px;
  margin-top: -40px;
  border: 3px #7b7 dotted;
  border-radius: 50%;
  animation-duration: 5s;
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading circle {
  r: 0;
  transition: r 1s;
}

circle {
  transition: opacity 0.2s, r 0.2s;
}

.axis path, .axis line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.axis text {
  transform: translate(0, 5px);
}

.area {
  opacity: 0.8;
}

.area:hover {
  opacity: 1;
}

.controls {
  padding: 0 40px;
}

.controls__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.controls__list-item {
  margin: 0 0 15px 0;
  padding: 0;
}

.controls__list-item input {
  display: block;
  margin: 5px 0;
  padding: 5px;
  min-width: 200px;
}

.grid {
  margin-left: -20px;
}

.grid__item {
  padding-left: 20px;
  float: left;
}

.one-whole {
  width: 100%;
}

.one-half {
  width: 50%;
}
